<div class="container nav_padding">
</a><p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Img hash:</strong>
  <%= @channel.img_hash %>
</p>

<p>
  <strong>Sec hash:</strong>
  <%= @channel.sec_hash %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @channel.slug %>
</p>

<p>
  <strong>e-Mail:</strong>
  <%= @channel.email %>
</p>
<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>

<section class="feedback_form">
  <%= render 'feedbacks/feedback_form' %>
</section>

<div class="col-md-8">
    <% if @channel.feedbacks.any? %>
      <h3>Feedbacks (<%= @channel.feedbacks.count %>)</h3>
      <ol class="feedbacks">
        <%= render @feedbacks %>
      </ol>
    <% end %>
  </div>
</div>


</div>